<div id="about">
  <a href="/reset">reset</a> | <a href="/about">what is this?</a> | <a href="https://github.com/greycastle/fruitorvegetable">fork this</a> | <a href="http://greycastle.se">who made this?</a>
</div>
