<h1>So what's this about?</h1>
<div id="about-text">
  <p><span>I'm glad you asked.</span></p>
  <p>
      Now, I'm somewhat of an incurable besserwisser meaning I point out things like 'tomato is a fruit' much to the general disagreement of everyone else.
      I wanted to settle this conflict once and for all and doing so in a more jovial manner, that is, to make a game of it.
  </p>
  <p>
    You may have seen the we page <a href="http://ikeaordeath.com/">Ikea Or Death</a> which allows you to pick if certain names are names of Metal Bands or Ikea furniture.
    Well, this site does the exact same thing but with fruits and vegetables.
  </p>
  <p>
    What about the tomato though?</br>
    Fair point. It is a fruit... botanically speaking. However, many times it's classified as a vegetable simply because it is eaten as such. Organically it has the same parts as a fruit, as do a lot of other supposed vegetables but since we use them in a certain manner, for tax reasons primarily, they've been judged to be counted as vegetables. Tricky one innit.
  </p>
  <p>
    Still don't believe me? Check out:<br/>
    <a href="http://www.oxforddictionaries.com/words/is-a-tomato-a-fruit-or-a-vegetable">Oxforddictionaries</a> or
    <a href="http://theplate.nationalgeographic.com/2015/02/09/fruit-or-vegetable/">Depends on how you slice it</a>
  </p>
</div>
<div>
  <a class="btn" href="/">Back</a>
</div>
