<h1 class="welcome">Welcome to Fruit OR Vegetable!</h1>

<%= render partial: 'question' %>

<div id="protip">
  <span>pro tip: you can use left/right keys to choose</span>
</div>

<%= render partial: 'about' %>
