body {
  background-color: #FCDE9C;
  color: #381D2A;
}

.buttons-box {
  margin-top: 40px;
}

.btn {
  width: 250px;
  display: inline-block;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  border: solid #BA5624 3px;
  color: #BA5624;
  font-size: 35px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: rgba(186, 86, 36, 0.12);
  text-decoration: none;
  border-color: #FFA552;
  color: #FFA552;
}

.or {
  font-style: italic;
}

.question {
  font-size: 30px;
}

.or {
  font-size: 45px;
  font-weight: bold;
  margin: 0px 20px;
}

.right { color: green; }
.wrong { color: red; }

#plant-name {
  font-size: 60px;
}

h1 {
  font-size: 40px;
}
