<!DOCTYPE html>
<html>
<head>
  <title>Fruit or Vegetable?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//fonts.googleapis.com/css?family=Abel&subset=latin" rel="stylesheet" type="text/css"></link>
  <style>
    * {
      font-family: 'Abel', sans-serif;
    }
  </style>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
